#main {
  display: flex;
  text-align: center;
}

#header {
  margin-bottom: 10px;
}

#stats {
  width: 100vw;
  background-color: beige;
  font-size: x-large;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leaflet-container {
  width: 80vw;
  height: 100vh;
}

